h1,h2,h3,h4,h5,h6,p,ul,ol,dl
{
  margin-top: 0;
  margin-bottom: 0;
}

body
{
  margin: 0;
  padding: 0;

  text-align: center;
  line-height: 1.5;
  background-image: url("japanese-paper22-p.png");
}

#header {
  padding: 4px 0 0 0;
  margin: 0;
}

#wrapper
{
  margin: auto;
  padding: 0 60px 0 60px;
  width: 800px;
  text-align: left;
  color: #222222;
  background: url("tesukiwashi-pattern-08.png");
}

#footer {
  text-align: right;
}

h1,h2
{
  background-image: url("japanese-paper21-p.png");
  margin: 7px 0 15px 0;
  padding: 0.4em 0 0.2em 0.6em;
  color: #001000;
}

td
{
  text-align: center;
}

td
{
  padding-right: 1em;
  padding-bottom: 1em;
}

img.screenshot {
  padding-bottom: 8px;
  border: solid 2px gray;
  margin: 8px 0 8px 0;
  padding: 2px;
}

div.section {
  padding-left: 1.5em;
}

ul {
  padding-bottom: 7px;
}

li {
  list-style-type: circle;
  margin-bottom: 7px;
}

br.short {
  font-size: 7;
}

a {
  color: indigo;
}
a:hover {
  color: indigo;
}
